* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Times New Roman;
  font-size: 40px;
  color: black;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input {
  display: none;
}

label {
  cursor: pointer;
}


.navigation {
  position: absolute;
  top: 0;
  left: 0;
  height: 1080px;
  width: 400px;
  background-color: black;
  position: fixed;
  margin-left: -400px;
  transition: all 300ms;
}

.navigation nav ul {
  margin-top: 100px;
  text-align: center;
}

.navigation nav ul li {
  padding-bottom: 15px;
}

.navigation nav ul li a {
  color: white;
  transition: all 300ms;
}


label {
  margin-left: 500px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50px;
}

input[type=checkbox]:checked + .navigation {
  margin-left: 0px;
  
}
body {
		margin: 0;
		padding: 0;
	}
	:root {
		--web-view-ids: artwork1;
	}
	#artwork1 * {
		margin: 0;
		padding: 0;
	}
	#artwork1 {
		position: absolute;
		box-sizing: border-box;
		background: #E5E5E5;
		width: 1920px;
		height: 7149px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		margin: 0;
		padding: 0;
		opacity: 1;
		--web-view-name: artwork1;
		--web-view-id: artwork1;
		--web-enable-deep-linking: true;
	}
	#_Artwork {
		opacity: 1;
		position: absolute;
		left: 685px;
		top: 63px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 552px;
		white-space: nowrap;
		text-align: center;
		font-family: SignPainter;
		font-style: normal;
		font-weight: normal;
		font-size: 100px;
		color: rgba(0,0,0,1);
	}
	#Path_3 {
		opacity: 1;
		fill: transparent;
		stroke: rgb(0, 0, 0);
		stroke-width: 4px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_3 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 469.267px;
		left: 567.864px;
		width: 784.93px;
		height: 2px;
	}
	.image1 {
		opacity: 1;
		position: absolute;
		width: 400px;
		height: 400px;
		left: 684.78px;
		top: 813px;
		overflow: hidden;
    border-radius: 50%;
	}
	
	.image2 {
		opacity: 1;
		position: absolute;
		width: 400px;
		height: 400px;
		left: 1192px;
		top: 1023px;
		overflow: hidden;
    border-radius: 50%;
	}
	
	.image3 {
		opacity: 1;
		position: absolute;
		width: 400px;
		height: 400px;
		left: 808px;
		top: 1292px;
		overflow: hidden;
    border-radius: 50%;
	}
	
	.image4 {
		opacity: 1;
		position: absolute;
		width: 600px;
		height: 600px;
		left: 382.54px;
		top: 1700.99px;
		overflow: hidden;
    border-radius: 50%;
	}
	
	.image5 {
		opacity: 1;
		position: absolute;
		width: 600px;
		height: 600px;
		left: 1223.48px;
		top: 2074.48px;
		overflow: hidden;
    border-radius: 50%;
	}
	.image6 {
		opacity: 1;
		position: absolute;
		width: 600px;
		height: 600px;
		left: 609.52px;
		top: 2592.13px;
		overflow: hidden;
    border-radius: 50%;
	}

	.image7 {
		opacity: 1;
		position: absolute;
		width: 700px;
		height: 700px;
		left: 1123.59px;
		top: 2961.32px;
		overflow: hidden;
    border-radius: 50%;
	}
	
	.image8 {
		opacity: 1;
		position: absolute;
		width: 900px;
		height: 900px;
		left: 430px;
		top: 3501.82px;
		overflow: hidden;
    border-radius: 50%;
	}
	
	.image9 {
		position: absolute;
		width: 900px;
		height: 900px;
		left: 510.28px;
		top: 4501.88px;
    overflow: hidden;
    border-radius: 50%;
	}
	
	.image10 {
		position: absolute;
		overflow: hidden;
    border-radius: 50%;
		width: 600px;
		height: 600px;
		left: 1223px;
		top: 5272px;
	}
	
	.image11 {
		position: absolute;
		overflow: hidden;
    border-radius: 50%;
		width: 500px;
		height: 500px;
		left: 660px;
		top: 5572px;
	}
	
	.image12 {
		position: absolute;
		overflow: hidden;
    border-radius: 50%;
		width: 800px;
		height: 800px;
		left: 644.48px;
		top: 6147.21px;
	}
	.Years {
		opacity: 1;
		position: absolute;
		left: 622px;
		top: 536px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 157px;
		white-space: nowrap;
		text-align: center;
		font-family: Times New Roman;
		font-style: normal;
		font-weight: bold;
		font-size: 70px;
		color: rgba(0,0,0,1);
	}
	.Names {
		opacity: 1;
		position: absolute;
		left: 1103px;
		top: 536px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 193px;
		white-space: nowrap;
		text-align: center;
		font-family: Times New Roman;
		font-style: italic;
		font-weight: normal;
		font-size: 70px;
		color: rgba(0,0,0,1);
	}
.ID1927 {
		opacity: 1;
		position: absolute;
		left: 91px;
		top: 883px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 145px;
		white-space: nowrap;
		text-align: center;
		font-family: Times New Roman;
		font-style: normal;
		font-weight: bold;
		font-size: 70px;
		color: rgba(0,0,0,1);
	}
	.ID1930 {
		opacity: 1;
		position: absolute;
		left: 91px;
		top: 1997px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 141px;
		white-space: nowrap;
		text-align: center;
		font-family: Times New Roman;
		font-style: normal;
		font-weight: bold;
		font-size: 70px;
		color: rgba(0,0,0,1);
	}
	.ID1940 {
		opacity: 1;
		position: absolute;
		left: 91px;
		top: 2636px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 141px;
		white-space: nowrap;
		text-align: center;
		font-family: Times New Roman;
		font-style: normal;
		font-weight: bold;
		font-size: 70px;
		color: rgba(0,0,0,1);
	}
	.ID1950 {
		opacity: 1;
		position: absolute;
		left: 95px;
		top: 4463px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 141px;
		white-space: nowrap;
		text-align: center;
		font-family: Times New Roman;
		font-style: normal;
		font-weight: bold;
		font-size: 70px;
		color: rgba(0,0,0,1);
	}
	.ID1960 {
		opacity: 1;
		position: absolute;
		left: 91px;
		top: 6013px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow: visible;
		width: 141px;
		white-space: nowrap;
		text-align: center;
		font-family: Times New Roman;
		font-style: normal;
		font-weight: bold;
		font-size: 70px;
		color: rgba(0,0,0,1);
	}
	